<template>
  <q-page padding>
    <!-- content -->
    Oh no, el enlace al que acabas de acceder esta lleno o ya expiro. Pide a tu amigo te invite a un nuevo juego
    <button >Volver al Inicio</button>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>
